.contact{
	font-family : Comic Sans MS;
	font-size : 45px;
	text-align : center;
	color : #0f0459;
}
#contact-page{
		background-image : url("../images/contact3.jpg");
		width : 100%;
}

.contact-table{
	width : 100%;
	color : black;
}

#contact-inquiry-title{
	font-family : Candara;
	font-size : 21px;
	padding-left : 10px;
}

#contact-inquiry-title-special{
	font-family : Candara;
	font-size : 21px;
	padding-left : 25px;
}

#contact-inquiry-title-general{
	font-family : Candara;
	font-size : 21px;
	padding-left : -9px;
}

#contact-icon{
	 filter : invert(100%);	 
}

.contact-detail{
	font-family : Century;
	font-size : 17px;
	padding-left : 70px;
}

.contact-detail-general{
	font-family : Century;
	font-size : 17px;
	padding-left : 60px;
}

.contact-detail-special{
	font-family : Century;
	font-size : 17px;
	padding-left : 60px;
}

.special-inquiry-field{
	width : 150%;
	border-color : black;
}

.contact-detail-field , hr{
	width : 100%;
	border-color : black;
}

#special-inquiry{
	width : 50%;
	padding-left : 150px;
}

#special-inquiry-title{
	font-family : Footlight MT Light;
	font-size : 30px;
}

.special-inquiry-field{
	padding-left : 50px;
}
.contact-label , #contact-submit{
	font-family : Footlight MT Light;
	font-size : 17px;
	font-weight : bold;
}

#contact-submit{
	border-color : black;
	width : 70px;
}

#contact-email , #contact-message , #contact-name , #contact-phone{
	background-color : transparent;
	border : none;
	width : 80%;
	border-bottom : 2px solid black;
	outline : none;
	color :black;
}

#contact-detail{
	padding-left : 200px;
}

#contact-detail-form{
	font-family : Century;
	font-size : 17px;
	padding-left : 250px;
}